.bgDark {
    background-color:#16161D ;
}

.activeTab,
.bgPurple {
    background-color: #4F449B;
}

.textPurple {
    color: #4F449B;
}

.height100 {
    height: 100%;
    object-fit: cover;
}

.container-fluid {
    min-height: 70vh;
}

.whiteCircle {
    background-image: url("../images/circleWhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.goldman {
    font-family: 'Goldman', cursive;
}

#indexHero {
    background-image: url("../images/groupPhoto.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

#skillsJumbo {
    background-image: url("../images/kidSmiling.jpg");
    background-position: top;
    background-size: 100%;
    height: 400px;
}

.opacity80 {
    opacity: 80%;
}

.tab {
    background-color: #5f4f9f;
}

.whiteLink {
    color: white !important;


.textSize400{
    font-size: 350%;
}

.netLogoButtonFontSize{
    font-size: 225%;
}

.netLogoButtonMarginRight{
    margin-left: 35%;
    
}

.netLogoButtonMarginLeft{
    
    margin-right: 35%;

}

