.bgDark {
    background-color:#16161D ;
}

.activeTab,
.bgPurple {
    background-color: #4F449B;
}

.textPurple {
    color: #4F449B;
}

.height100 {
    height: 100%;
    object-fit: cover;
}

.container-fluid {
    min-height: 70vh;
}

.whiteCircle {
    background-image: url("../images/circleWhite.png");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.goldman {
    font-family: 'Goldman', cursive;
}

#indexHero {
    background-image: url("../images/groupPhoto.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

#skillsJumbo {
    background-image: url("../images/kidSmiling.jpg");
    background-position: top;
    background-size: 100%;
    height: 400px;
}

.opacity80 {
    opacity: 80%;
}


.textSize350{
      font-size: 350%;
}

.tab {
    background-color: #5f4f9f;
}

.whiteLink {
    color: white !important;
}

.textSize300{
    font-size: 300%;
}
.textSize250{
    font-size: 250%;
}

.netLogoButtonFontSize{
    font-size: 225%;
}

.carasoulFix{
    height: 50%;
    width: 50%;
}

.hrOnBlackBG{
    border: 0;
    clear:both;
    display:block;
    width: 96%;  
    max-width: 1200px;             
    background-color: #4F449B;
    height: 1px;
}

.hrOnPurpleBG{
    border: 0;
    clear:both;
    display:block;
    width: 96%;  
    max-width: 1200px;             
    background-color: black;
    height: 1px;
}



.nav-tabs .nav-link:not(.active) {
    background-color: #7e75b4;
    color: black;
}



.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
    color: #4F449B;
    background-color: #4F449B;
    border-color: #4F449B;
}



li::marker {
    font-size: 30px;
}

a{
    color: inherit;
}
a:hover{
    color: inherit;
}



